### ch21<br>
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [2]:
def greet_user(name, age):
    print(f'안녕하세요, {name}님! 당신은 {age}살입니다.'    )

name=input('이름 : ')
age=input('나이 : ')
greet_user(name, age)

안녕하세요, 마루코님! 당신은 9살입니다.

### ch22<br>
여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.
def

In [14]:
def sum_numbers(*num):
    return sum(num)

num=map(int,input('숫자 입력(,) : ').split(','))
print(sum_numbers(*num))

6

### ch23<br>
사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [15]:
def print_name(name='익명'):
    print(name)
print_name()

익명

### ch24<br>
사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [38]:
def print_info(*,name, age, gender):
    print(name, age, gender)
print_info(name='마루코',age=9,gender='여자')

마루코 9 여자

In [18]:
print_info('마루코',9,'여자')

TypeError: print_info() takes 0 positional arguments but 3 were given

### ch25<br>
두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [20]:
def add(a:int,b:int)->int:
    return a+b
a,b=map(int, input('두 개의 정수 : ').split(','))
print(add(a,b))

3

### ch26<br>
0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [27]:
def odd_numbers(n):
    for i in range(n+1):
        if i%2==1:
            yield i
for i in odd_numbers(9):
    print(i,end=' ')

1 3 5 7 9

### ch27<br>
두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [28]:
sum_num=lambda a,b : a+b
print(sum_num(1,2))

3

### ch28<br>
사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [31]:
def min_max(tuple_num):
    print(min(tuple_num))
    print(max(tuple_num))

tuple_num=tuple(input('3개의 숫자 입력(,)').split(','))
min_max(tuple_num)

1
3

### ch29<br>
주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [32]:
def is_even(n):
    if n%2==0:
        return True
    else:
        return False

print(is_even(1))
print(is_even(2))

False
True

### ch30<br>
팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [33]:
def factorial(n):
    if n==1:
        return 1
    return n*factorial(n-1)
factorial(5)

120

### ch31<br>
문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [39]:
def print_lengths(list_str):
    for i in list_str:
        print(f'{i}의 길이 {len(i)}')
list_str=['qwe','asdf','zxcvb']
print_lengths(list_str)

qwe의 길이 3
asdf의 길이 4
zxcvb의 길이 5

### ch32<br>
두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [40]:
def longer_string(str1, str2):
    if len(str1)>=len(str2):
        return str1
    else:
        return str2

longer_string('qwe','asdf')

'asdf'